<div class="container">
    <div class="card my-3">
        <div class="card-header text-center">
            <h2>Ejemplo Factura</h2>
        </div>
        <div class="card-body">
            <factura-view [id]="factura.id" [nombre]="factura.nombre" />

            <div class="row my-3">
                <div class="col">
                    <client-view [cliente]="factura.cliente" />
                </div>
                <div class="col">
                    <company-view [company]="factura.company" />
                </div>
            </div>
            <div>
                <list-items [items]="factura.items" (idEventEmitter)="onRemoveItem($event)" />
            </div>
            <total [total]="factura.total" />

            <form-item (itemEventEmitter)="addItem($event)" />

        </div>
    </div>

</div>